<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>小工具集合</title>
    <link rel="stylesheet" href="./lib/bootstrap-4.3.1-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./lib/bootstrap-vue-2.0.2/bootstrap-vue.min.css" />
    <link rel="stylesheet" href="./css/base.css" />
    <link rel="stylesheet" href="./css/main.css" />
    <script src="./lib/vue.js"></script>
</head>

<body>
    <header class="navbar bd-navbar bg-dark">
        <a class="navbar-brand mr-0 mr-md-2 text-white" href="/" aria-label="Bootstrap">开发用小工具</a>

        <div class="navbar-nav-scroll">
            <ul class="navbar-nav bd-navbar-nav flex-row">
                <li class="nav-item">
                    <!-- <a class="nav-link " href="/" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Bootstrap');">Home</a> -->
                </li>
            </ul>
        </div>

        <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
            <li class="nav-item dropdown">
            </li>
            <li class="nav-item">
            </li>
        </ul>
    </header>
    <div id="app" class="container-fluid">
        <div class="row h-100">
            <div class="col-12">
                <div class="text-center h-75 p-5 m-5" :class="{'d-none': pageReady}">
                    <b-spinner large variant="danger" label="Loading..."></b-spinner>
                </div>
                <b-card no-body class="h-100 border-0" :class="{'d-none': !pageReady}">
                    <b-tabs pills card vertical nav-wrapper-class="w-10" class="h-100">
                        <b-tab title="字符转换" active>
                            <dir class="row">
                                <div class="col">
                                    <h5>输入选项：</h5>
                                    <div class="form-row">
                                        <div class="form-group col-md">
                                            <label for="inputEmail3">分隔符</label>
                                            <div class="">
                                                <b-form-select class="mb-2 mr-sm-2 mb-sm-0" :value="null" :options="separatorOptions" v-model="strForm.separator">
                                                    <template v-slot:first>
                                                        <option :value="null" selected>请选择</option>
                                                    </template>
                                                </b-form-select>
                                            </div>
                                        </div>
                                        <div class="form-group col-md" v-if="strForm.separator==='custom'">
                                            <label for="inputEmail3">自定义分隔符</label>
                                            <div class="">
                                                <input type="email" class="form-control" id="inputEmail3" placeholder="分隔符" v-model="strForm.customSeparator">
                                            </div>
                                        </div>
                                        <div class="form-group col-md">
                                            <label for="inputEmail3">包括符</label>
                                            <div class="">
                                                <input type="email" class="form-control" id="inputEmail3" placeholder="包括符，以逗号分开入：{,}" v-model="strForm.includes">
                                            </div>
                                        </div>
                                    </div>
                                    <textarea cols="30" rows="10" class="input-textarea" v-model="input1"></textarea>
                                </div>
                                <div class="col">
                                    <h5>输出选项：</h5>
                                    <div class="form-row">
                                        <div class="form-group col-md">
                                            <label for="inputEmail3">分隔符</label>
                                            <div class="">
                                                <b-form-select class="mb-2 mr-sm-2 mb-sm-0" :value="null" :options="separatorOptions" v-model="strForm.out.separator">
                                                    <template v-slot:first>
                                                        <option :value="null" selected>请选择</option>
                                                    </template>
                                                </b-form-select>
                                            </div>
                                        </div>
                                        <div class="form-group col-md" v-if="strForm.out.separator==='custom'">
                                            <label for="inputEmail3">自定义分隔符</label>
                                            <div class="">
                                                <input type="email" class="form-control" id="inputEmail3" placeholder="分隔符" v-model="strForm.out.customSeparator">
                                            </div>
                                        </div>
                                        <div class="form-group col-md">
                                            <label for="inputEmail3">包括符</label>
                                            <div class="">
                                                <input type="email" class="form-control" id="inputEmail3" placeholder="包括符，以逗号分开入：{,}" v-model="strForm.out.includes">
                                            </div>
                                        </div>
                                    </div>
                                    <textarea cols="30" rows="10" class="input-textarea">{{ formatInput1() }}</textarea>
                                </div>
                            </dir>
                        </b-tab>
                        <b-tab title="Tab 2">
                            <b-card-text>Tab Contents 2</b-card-text>
                        </b-tab>
                        <b-tab title="Tab 3">
                            <b-card-text>Tab Contents 3</b-card-text>
                        </b-tab>
                    </b-tabs>
                </b-card>
            </div>
        </div>
    </div>

    <script src="./lib/bootstrap-vue-2.0.2/bootstrap-vue.min.js"></script>
    <script src="./js/main.js"></script>
</body>

</html>